*{
    margin:0;
    color: blanchedalmond;
}

.body-content{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.img-container{
    width: 100px;
    height:100px;
    align-self: center;
}
.img-tips{
    margin-top: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.skills{
    flex-direction: column;
    padding-top: 50px;
    margin-left: 30px;
    font-size: 30px;
}
.skills2{
    padding-bottom:320px ;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    background-color:cornflowerblue
}
i{
    font-size: 30px;
}
.phrase{
    max-width: 30%;
    margin-left: 30px;
}
.footer{
    display: flex;
    padding-left: 450px;
    background-color: cornflowerblue;
}
.lkdn,.insta{
    width: 100px;
    height: 100px;
}